<!-- 开始 页首 -->
<div class="page-header navbar navbar-fixed-top">
    <!-- 开始 页首内部 -->
    <div class="page-header-inner ">
        <!-- 开始 LOGO -->
        <div class="page-logo">
            <a href="<%= urlBuilder('home/home') %>">
                <img src="<%= BUILD_FILE.images.logo %>" alt="logo" class="logo-default" /> </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- 结束 LOGO -->
        <!-- 开始 响应式菜单切换 -->
        <a href="javascript:void(0);" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- 结束 响应式菜单切换 -->
        <!-- 开始 页首顶部 -->
        <div class="page-top">
            <!-- 开始 页首顶部导航栏 -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide"> </li>
                    <!-- 开始 提醒下拉框 -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-success"> 6 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>
                                    <span class="bold">6 条</span>未读通知</h3>
                                <a href="page_user_profile_1.html">查看所有</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="time">刚刚</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus"></i>
                                                        </span> 新员工 关羽 加入公司 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="time">3 分钟前</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> 新员工 张飞 加入公司 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="time">10 分钟前</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> 员工 赵云 从公司离职 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="time">14 小时前</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-info">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> 马超 刚刚生成一个新的采购单 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="time">2 天前</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> 今天的采购需求已经生成完毕 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="time">3 天前</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> 当前正在刷新采购需求 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="time">4 天前</span>
                                            <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> 经理曹操给你发送了一条提醒 </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- 结束 提醒下拉框 -->
                    <li class="separator hide"> </li>
                    <!-- 开始 消息下拉框 -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-envelope-open"></i>
                            <span class="badge badge-danger"> 7 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>你有
                                    <span class="bold">7 条</span> 新信息</h3>
                                <a href="app_inbox.html">查看所有</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                    <li>
                                        <a href="#">
                                                <span class="photo">
                                                        <img src="<%= BUILD_FILE.images.top_avatar1 %>" class="img-circle" alt=""> </span>
                                            <span class="subject">
                                                        <span class="from"> 曹操 </span>
                                                <span class="time">刚刚 </span>
                                                </span>
                                            <span class="message"> 天下真英雄唯你我二人也... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                <span class="photo">
                                                        <img src="<%= BUILD_FILE.images.top_avatar2 %>" class="img-circle" alt=""> </span>
                                            <span class="subject">
                                                        <span class="from"> 孔融 </span>
                                                <span class="time">16 分钟前 </span>
                                                </span>
                                            <span class="message"> 来吃梨吃梨，不用客气... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                <span class="photo">
                                                        <img src="<%= BUILD_FILE.images.top_avatar3 %>" class="img-circle" alt=""> </span>
                                            <span class="subject">
                                                        <span class="from"> 孙权 </span>
                                                <span class="time">29 分钟前 </span>
                                                </span>
                                            <span class="message"> 公瑾，你肥皂掉了... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                <span class="photo">
                                                        <img src="<%= BUILD_FILE.images.top_avatar4 %>" class="img-circle" alt=""> </span>
                                            <span class="subject">
                                                        <span class="from"> 华佗 </span>
                                                <span class="time">40 分钟前 </span>
                                                </span>
                                            <span class="message"> 你该换换脑瓜子了... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                <span class="photo">
                                                        <img src="<%= BUILD_FILE.images.top_avatar5 %>" class="img-circle" alt=""> </span>
                                            <span class="subject">
                                                        <span class="from"> 周瑜 </span>
                                                <span class="time">2 小时前</span>
                                                </span>
                                            <span class="message"> 我本将心向明月，奈何明月照沟渠,我本将心向明月，奈何明月照沟渠,我本将心向明月，奈何明月照沟渠,我本将心向明月，奈何明月照沟渠,我本将心向明月，奈何明月照沟渠,我本将心向明月，奈何明月照沟渠 </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- 结束 消息下拉框 -->
                    <li class="separator hide"> </li>
                    <!-- 开始 待办事项下拉框 -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-calendar"></i>
                            <span class="badge badge-primary"> 8 </span>
                        </a>
                        <ul class="dropdown-menu extended tasks">
                            <li class="external">
                                <h3>You have
                                    <span class="bold">8 个</span> 待办事项</h3>
                                <a href="?p=page_todo_2">查看所有</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:void(0);">
                                                <span class="task">
                                                        <span class="desc">周五之前采购张角家的毛毯12条</span>
                                                <span class="percent">10%</span>
                                                </span>
                                            <span class="progress">
                                                        <span style="width: 10%;" class="progress-bar progress-bar-success" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">完成 10%</span>
                                                </span>
                                                </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                                <span class="task">
                                                        <span class="desc">周三之前制定出本季的销售计划，提交给曹总</span>
                                                <span class="percent">65%</span>
                                                </span>
                                            <span class="progress">
                                                        <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">完成 65%</span>
                                                </span>
                                                </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                                <span class="task">
                                                        <span class="desc">和闵玉丹商讨系统升级的事情</span>
                                                <span class="percent">98%</span>
                                                </span>
                                            <span class="progress">
                                                        <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">完成 98%</span>
                                                </span>
                                                </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                                <span class="task">
                                                        <span class="desc">和认识商谈关于这个月延期发放工资的事</span>
                                                <span class="percent">10%</span>
                                                </span>
                                            <span class="progress">
                                                        <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">完成 10%</span>
                                                </span>
                                                </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                                <span class="task">
                                                        <span class="desc">周六和王局长打高尔夫</span>
                                                <span class="percent">58%</span>
                                                </span>
                                            <span class="progress">
                                                        <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">完成 58%</span>
                                                </span>
                                                </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- 结束 待办事项下拉框 -->
                    <!-- 开始 用户登录下拉框 -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile"> 诸葛孔明</span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <img alt="" class="img-circle" src="<%= BUILD_FILE.images.top_team1 %>" /> </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-user"></i> 主页 </a>
                            </li>
                            <li>
                                <a href="app_inbox.html">
                                    <i class="icon-envelope-open"></i> 收件箱
                                    <span class="badge badge-danger"> 7 </span>
                                </a>
                            </li>
                            <li>
                                <a href="app_todo_2.html">
                                    <i class="icon-rocket"></i> 待办事项
                                    <span class="badge badge-success"> 8 </span>
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="page_user_login_1.html">
                                    <i class="icon-key"></i> 登出 </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 结束 用户登录下拉框 -->
                </ul>
            </div>
            <!-- 结束 页首顶部导航栏 -->
        </div>
        <!-- 结束 页首顶部 -->
    </div>
    <!-- 结束 页首内部 -->
</div>
<!-- 结束 页首 -->
<!-- 开始 HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- 结束 HEADER & CONTENT DIVIDER -->